@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #ffffff;
  --foreground: #010101;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-neue: var(--font-neue-haas), sans-serif;
  --font-inter: var(--font-inter-tight), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-neue-haas), sans-serif;
}
